.mainBox{
  box-sizing: border-box;
}
.filterBoxes{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #457b9d;
  color: #fff;
}

.filterBoxes div{
  margin-right: 10px;
}

.user-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user-card{
  max-width: 300px;
  margin: 6px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.user-card img{
  width: 80%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 8px;
}

.user-card a{
  text-decoration: none;
  color: #333;
}






.btnsContainer{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
 overflow-x: auto;



  box-sizing: border-box;
}


.btnsContainer button{
  background-color: #fff;
  color: #457b9d;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 4px;
  margin: 5px;
  white-space: nowrap;
}

.btnsContainer button:hover{
  background-color: #1d3557;
  color: #fff;
}





.user-not-logged-in{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: #ea5353;
  background-color: #457b9d; 
}

.user-not-logged-in p {
  font-size: 40px; 
  margin-bottom: 20px; 
}





